<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>
<div class="container mt-5">
    <form action="/editarUsuario" method="post" enctype="application/x-www-form-urlencoded">
        <div class="card">
            <div class="card-header">
                <h1>Modificar Usuario</h1>
            </div>
            <div class="card-body">
                <input type="hidden" name="id" id="id" value="<%= user.id %>">
                <input type="hidden" name="passwordAnterior" id="passwordAnterio" value="<%= user.password %>">
                <input type="hidden" name="salt" id="salt" value="<%= user.salt %>">
                <input type="hidden" name="fotoVieja" id="fotoVieja" value="<%= user.foto %>">
                <input class="form-control mb-3" value="<%= user.nombre %>" type="text" name="nombre" id="nombre" placeholder="Nombre" autofocus>
                <input class="form-control mb-3" value="<%= user.usuario %>" type="text" name="usuario" id="usuario" placeholder="Usuario">
                <input class="form-control mb-3" value="" type="text" name="password" id="password" placeholder="Deja en blanco si no change password">
                <input class="form-control mb-3" type="file" name="foto" id="foto">
            </div>
            <div class="card-footer">
                <button class="form-control btn btn-primary" type="submit">Modificar</button>
            </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
        </div>
    </form>
</div>
<%- include("../templates/pie") %>